 * {
    margin: 0px;
    padding: 0px;
 }

.guys {
    background: orangered;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    height: 200px;
    width: 1450px;
}

.coding {
    background: lightskyblue;
    font-size: 18px;
    text-align: center;
    align-items: baseline;
    height: 150px;
    width: 700px;
}

.is {
    background: lightgreen;
    font-size: 18px;
    text-align: center;
    justify-content: right;
    height: 150px;
    width: 700px;
}